#
# Many of these settings are inspired by the following sources:
# - https://jvns.ca/blog/2024/02/16/popular-git-config-options/
# - https://thoughtbot.com/blog/autosquashing-git-commits
# - unknown/lost to time

[alias]

  autosquash = !GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash
  fixup = commit --fixup
  pfl = push --force-with-lease

[branch]

  # make git branch sort from newest to oldest by default
  sort = -committerdate

[branch "main"]

  rebase = true

[branch "master"]

  rebase = true

[color]

  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal
  ui = auto

[color "branch"]

  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]

  # In theory, this should handle reordering of functions better than the
  # default.
  algorithm = histogram
  frag = magenta bold
  meta = yellow bold
  new = green bold
  old = red bold

[color "status"]

  added = yellow
  changed = green
  untracked = cyan

[core]

  # Use custom `.gitignore` and `.gitattributes`
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore
  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false
  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  # Treat spaces before tabs, lines that are indented with 8 or more spaces,
  # and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,indent-with-non-tab,trailing-space

[diff]

  # Enable an experimental heuristic that shifts the hunk boundary in an
  # attempt to make the resulting patch easier to read.
  indentHeuristic = true
  # Detect copies as well as renames
  renames = copies

[include]

  path = .gitconfig.custom

[init]

  defaultBranch = main

[merge]

  # Improve diffs
  conflictstyle = zdiff3
  # Autodelete *.orig files
  keepbackup = false
  # Include summaries of merged commits in newly created merge commit messages
  log = true
  tool = opendiff

[push]

  default = upstream

[rebase]

  autoStash = true
  # When rebasing, include all branches in history between current branch and
  # base.
  updateRefs = true

[rerere]

  autoupdate = true
  enabled = 1
